<form class="form-signin" method="POST" autocomplete="false">
  <h2 class="form-signin-heading">Please sign in</h2>
  <label for="email" class="sr-only">Email address</label>
  <input type="email" name="email" id="email" class="form-control" placeholder="Email address" required autofocus>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
  <input type="hidden" name="pwd" id="pwd">
  <div class="checkbox">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" id="login" type="submit">Sign in</button>
</form>